* {
    margin: 0;
    padding: 0;
    color: #000;
}

a {
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.container {
    padding-left: 135px;
    padding-right: 135px;
}

.maxw {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 32px;
}

.mobile-menu {
    display: none;
    height: 16px;
    width: auto;
    padding-top: 10px;
}

.logo {
    height: 40px;
    width: auto;
    padding: 26px 0 42px 0;
}

header {
    position: relative;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-menu {
    position: absolute;
    font-variant: small-caps;
    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.21em;
    left: 64px;
}

.desktop-menu img {
    height: 9px;
    width: auto;
    margin-left: 8px;
}

@media only screen and (max-width:768px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        display: inline;
        left: 24px;
        margin-top: 5px;
    }

    .logo {
        height: 36px;
        padding: 16px 0 24px 0;
    }

    .container {
        padding: 0 24px !important;
    }

    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        gap: 24px;
    }
}