.landing {
    height: 100vh;
    background: url("/assets/img/landing.png") 75%;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

header {
    position: static !important;
}

header.maxw {
    position: relative;
}

.desktop-menu {
    color: #fff;
}

/*popravit desktop menu* TODO*/

.explore {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
}

.explore h2 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.btn-empty {
    background: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: auto;
    width: 271px;
    height: 58px;
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #FFFFFF;
    margin-top: 24px;
}

.scroll {
    height: 26px;
    width: auto;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.inquire {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 8px 20px 8px 8px;
    position: absolute;
    bottom: 24px;
    right: 25px;
}

.inquire p {
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24em;
    color: #FFFFFF;
}

.inquire img {
    width: 75px;
    height: auto;
}

.main {
    margin-top: 180px;
}

.about .content {
    align-self: center;
}

.about .img-container {
    grid-column: span 6;
}

.about .content {
    grid-column: 8 / span 4;
}

.about img {
    width: 100%;
    height: auto;
}

.about.about .img-container {
    position: relative;
}

.about .img-container::after {
    content: "";
    background: url("/assets/img/shine.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    height: 70px;
    width: 76px;
    right: -25px;
    top: 24px;
}

.main h3 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 110%;
    margin-bottom: 56px;
}

.main h4 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 16px;
}

.main p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.content-numbers {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 56px;
}

.content-numbers div p:first-of-type {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.content-numbers p:last-of-type {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.23em;
    color: #838383;
}

button.blue {
    box-sizing: border-box;
    margin-top: 32px;
    background: #0047FF;
    width: 192px;
    height: 58px;
    box-shadow: 6px 57px 23px rgba(26, 113, 255, 0.04), 3px 32px 20px rgba(26, 113, 255, 0.13), 2px 14px 14px rgba(26, 113, 255, 0.21), 0px 4px 8px rgba(26, 113, 255, 0.25), 0px 0px 0px rgba(26, 113, 255, 0.25);
    padding: auto;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #FFFFFF;
    transition: background .2s ease;
}

button.blue:hover {
    background: #2F69FF;
}

.main span,
.comments span {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.23em;
    color: #0047FF;
    margin-bottom: 16px;
}

.discover {
    margin-top: 180px;
}

.discover .content {
    grid-column: span 4;
}

.discover h3,
.content h3 {
    margin-bottom: 32px;
}

.discover .img-container {
    grid-column: 6 /span 7;
    position: relative;
    min-height: 652px;
}

.image-slider {
    display: flex;
    gap: 32px;
    position: absolute;
}

.image-slider span {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.23em;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.image-slider h4 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #ffffff;
    border-bottom: 3px solid #0047FF;
    padding-bottom: 4px;
    display: inline;
    width: fit-content;
    margin-bottom: 0;
}

.image-slider div {
    display: flex;
    flex-direction: column;
    width: 468px;
    height: 652px;
    background: #000;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0px 0px 56px 56px;
}

.image-slider div:first-of-type {
    background: url("/assets/img/img-slider-left.png") no-repeat center center;
}

.image-slider div:last-of-type {
    background: url("/assets/img/img-slider-right.png") no-repeat center center;
}

.image-navigation {
    grid-column: span 12;
    display: flex;
    justify-content: end;
    gap: 24px;
    margin-top: 48px;
}

button.round {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    padding: auto;
    border: none;
    box-sizing: border-box;
    background: #0047FF;
}

button.round img {
    width: 18px;
    height: auto;
}

button.round.disabled {
    opacity: 0.2;
}

button.round.disabled img {
    rotate: 180deg;
}

.experience {
    margin-top: 180px;
}

.maxw.experience {
    position: relative;
}

.experience .img-container {
    height: 100vh;
    grid-column: span 5;
}

.experience .img-container img {
    height: 100vh;
    width: auto;
    position: absolute;
    left: -135px;
}

.experience .content {
    grid-column: 8 / span 5;
    align-self: center;
    width: 100%;
}

.comments {
    margin-top: 180px;
}

.comments span {
    margin-bottom: 16px;
}

.comments h2 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 110%;
}

.comments .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.comments .image-navigation {
    margin-bottom: 16px;
}

.comments .content {
    position: relative;
    left: 0;
    width: calc(100% + 198px);
    display: flex;
    gap: 32px;
}

.comment p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

.comment {
    padding: 142px 59px 112px 59px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    box-sizing: border-box;
    width: 50%;
}

.comment h4 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
}

.comment div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.comment img {
    width: 48px;
    height: 48px;
}

.ensure {
    margin-top: 180px;
    height: 100vh;
    background: url("../img/boat_top_down.png") 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ensure .grid>div {
    grid-column: span 5;
    margin-bottom: 140px;
}

.ensure span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.23em;
    color: #FFFFFF;
}

.ensure h2 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-top: 16px;
}

.ensure button {
    width: 228px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #FFFFFF;
}

.why-yolo {
    margin-top: 180px;
}

.why-yolo .img-container {
    position: absolute;
}

.why-yolo .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 140px;
    position: relative;
    margin-bottom: 707px;
}

.why-yolo .title span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.23em;
    color: #0047FF;
}

.why-yolo .title h3 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 110%;
    text-align: center;
    position: relative;
}

.why-yolo .title h3::after {
    content: "";
    background: url("/assets/img/shine.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    height: 70px;
    width: 76px;
    bottom: -11px;
    right: 133px;
    transform: translateY(100%);
}

.why-yolo .title::after {
    position: absolute;
    height: 572px;
    width: 436px;
    background: url("/assets/img/boat_in_port.png") center no-repeat;
    background-size: cover;
    content: "";
    top: calc(100% - 45px);
    z-index: -1;
    left: calc(50% - 29px);
    transform: translateX(-50%);
}

.why-yolo .maxw {
    position: relative;
}

.img-container-relative {
    position: absolute;
    bottom: -5px;
    transform: translate(-50%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 40px);
    left: 50%;
}

@media only screen and (max-width:1200px) {
    .experience .content {
        grid-column: 9/span 4;
    }

    .container {
        padding: 0 100px !important;
    }

    .about .img-container::after {
        right: -40px;
        top: 5px;
    }

    .discover .content {
        grid-column: span 5;
    }

    .discover .img-container {
        grid-column: 7 /span 5;
    }

    .discover .img-container {
        min-height: 500px;
    }

    .image-slider div {
        width: 300px;
        height: 500px;
    }

    .comments .image-navigation {
        margin: 0;
    }

    .comments h2 {
        font-size: 44px;
    }

    .comments .content {
        width: calc(100% + 140px);
    }

    .comment {
        padding: 120px 34px 100px 34px;
    }

    .why-yolo .title {
        padding: 0 80px;
    }

    .why-yolo .title::after {
        height: 429px;
        width: 327px;
        left: calc(50% - 18px);
    }

    .why-yolo .title h3::after {
        bottom: -18px;
        right: 108px;
        width: 61px;
        height: 56px;
    }

    .img-container-relative img:first-of-type {
        width: 160px !important;
        height: auto;
    }

    .img-container-relative img:last-of-type {
        width: 171px !important;
        height: auto;
    }

    .ensure .grid>div {
        grid-column: span 7;
    }
}

@media only screen and (max-width:1024px) {
    .container {
        padding: 0 60px !important;
    }

    .about .img-container {
        grid-column: 2/span 10;
        margin-bottom: 64px;
    }

    .about .content {
        grid-column: span 12;
        align-self: normal;
    }

    .about .img-container::after {
        width: 61px;
        height: 56px;
    }

    .main h3 {
        font-size: 50px;
    }

    .main h4,
    .content-numbers div p:first-of-type {
        font-size: 22px;
    }

    .main p {
        font-size: 14px;
    }

    .main .blue {
        margin-top: 24px;
    }

    .discover .content,
    .discover .img-container {
        grid-column: span 12;
    }

    .image-slider {
        gap: 40px;
    }

    .discover .img-container {
        margin-top: 48px;
        grid-column: span 12;
        position: relative;
    }

    .image-navigation {
        justify-content: start;
        margin-left: 16px;
    }

    .image-slider div {
        width: 350px;
    }

    .experience .img-container {
        grid-column: span 12;
        display: flex;
        justify-content: center;
    }

    .experience .img-container img {
        position: static;
        width: auto;
    }

    .experience .content {
        grid-column: span 9;
        margin-top: 64px;
    }

    .comments .content {
        width: calc(100% + 60px)
    }

    .comment {
        padding: 60px 12px;
    }

    .comment p {
        font-size: 17px;
    }

    .comment h4 {
        font-size: 22px;
    }

    .comment img {
        width: 40px;
        height: 40px;
    }

    .why-yolo .title h3 {
        font-size: 48px;
    }

    .why-yolo .img-container-relative {
        width: calc(100% + 100px);
    }

    .why-yolo .title::after {
        top: calc(100% - 35px);
        left: calc(50% - 10px);
    }

    .why-yolo .title h3::after {
        right: 50px;
        width: 55px;
        height: 50px;
    }

    .why-yolo .title {
        margin-bottom: 574px;
    }
}

@media only screen and (max-width:768px) {

    .scroll,
    .inquire,
    .image-navigation {
        display: none;
    }

    .explore h2 {
        font-size: 54px;
    }

    .btn-empty {
        width: 220px;
        height: 48px;
        font-size: 12px;
    }

    .about .img-container {
        grid-column: span 2;
    }

    .about .content {
        grid-column: span 2;
    }

    .discover>div,
    .experience>div {
        grid-column: span 2 !important;
    }

    .main {
        margin-top: 128px;
    }

    .about .img-container::after {
        height: 70px;
        width: 76px;
        right: -24px;
        top: -36px;
    }

    .main h4,
    .content-numbers div p:first-of-type {
        font-size: 24px;
    }

    .main p {
        font-size: 16px;
    }

    .content-numbers {
        margin-bottom: 48px;
    }

    .content-numbers div p:last-of-type {
        font-size: 13px;
    }

    .image-slider {
        min-height: 460px;
    }

    .discover .img-container {
        width: 300px;
        height: 460px;
    }

    .image-slider div {
        padding: 0 0 32px 32px;
    }

    .image-slider span {
        font-size: 14px;
    }

    .image-slider h4 {
        font-size: 34px;
    }

    .experience .img-container {
        height: fit-content;
    }

    .experience .img-container img {
        width: calc(100% + 48px);
        height: auto;
    }

    .comments .content {
        width: fit-content;
        position: relative;
        gap: 20px;
    }

    .comment p {
        font-size: 18px;
    }

    .comment {
        padding: 58px 24px;
        width: calc(100vw - 140px) !important;
    }

    .ensure .grid>div {
        margin-bottom: 64px;
        grid-column: span 2;
    }

    .ensure .maxw {
        margin: 0;
    }

    .ensure h2 {
        font-size: 50px;
        padding-right: 20%;
        max-width: 400px;
    }
}