.landing {
    height: 100vh;
    background: url("/assets/img/landing.png") fixed center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.desktop-menu {
    color: #fff;
}

/*popravit desktop menu*/

.explore {
    margin-top: 244px;
}

.explore h2 {
    font-family: 'Rische';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.btn-empty {
    background: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: auto;
    width: 271px;
    height: 58px;
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #FFFFFF;
    margin-top: 24px;
}

.scroll {
    height: 26px;
    width: auto;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.inquire {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 8px 20px 8px 8px;
    position: absolute;
    bottom: 24px;
    right: 25px;
}

.inquire p {
    font-family: 'Satoshi',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24em;
    color: #FFFFFF;
}

.inquire img{
    width: 75px;
    height: auto;
}